# OVS Balance-SLB NMState Configuration
# Tested with OpenShift 4.18, 4.19, 4.20
#
# IMPORTANT: File must be named with SHORT hostname, not FQDN
# Example: ocp-dualstack-0.yml (NOT ocp-dualstack-0.baremetalbr.com.yml)
#
# Required changes per node:
#   - IP address (line 27)
#   - NIC names if different (ens33/ens34)
#   - DNS servers
#   - Gateway
#
interfaces:
  # OVS Bridge for external traffic
  - name: br-ex
    type: ovs-bridge
    state: up
    ipv4:
      enabled: false
      dhcp: false
    ipv6:
      enabled: false
      dhcp: false
    bridge:
      allow-extra-patch-ports: true
      port:
      - name: patch-ex-to-phy
      - name: br-ex                    # Internal interface as port
    ovs-db:
      external_ids:
        bridge-uplink: "patch-ex-to-phy"

  # OVS Internal Interface (L3 endpoint)
  # IMPORTANT: Must have 'controller' field for nmstate 2.2.54+
  - name: br-ex
    type: ovs-interface
    state: up
    controller: br-ex                  # Required for nmstate 2.2.54+
    copy-mac-from: ens33
    ipv4:
      enabled: true
      address:
      - ip: 10.132.254.11              # <<< CHANGE: Node IP
        prefix-length: 24
    ipv6:
      enabled: false
      dhcp: false

  # Physical uplink bridge with balance-slb bond
  - name: br-phy
    type: ovs-bridge
    state: up
    ipv4:
      enabled: false
      dhcp: false
    ipv6:
      enabled: false
      dhcp: false
    bridge:
      options:
        stp: true                      # Recommended for loop prevention
      allow-extra-patch-ports: true
      port:
      - name: patch-phy-to-ex
      - name: ovs-bond
        link-aggregation:
          mode: balance-slb
          port:
          - name: ens33                # <<< CHANGE: First NIC
          - name: ens34                # <<< CHANGE: Second NIC

  # Patch port: br-ex -> br-phy
  - name: patch-ex-to-phy
    type: ovs-interface
    state: up
    patch:
      peer: patch-phy-to-ex

  # Patch port: br-phy -> br-ex
  - name: patch-phy-to-ex
    type: ovs-interface
    state: up
    patch:
      peer: patch-ex-to-phy

  # Physical NIC 1
  - name: ens33                        # <<< CHANGE: First NIC name
    type: ethernet
    state: up
    mtu: 9000
    ipv4:
      enabled: false
    ipv6:
      enabled: false

  # Physical NIC 2
  - name: ens34                        # <<< CHANGE: Second NIC name
    type: ethernet
    state: up
    mtu: 9000
    ipv4:
      enabled: false
    ipv6:
      enabled: false

dns-resolver:
  config:
    server:
    - 10.132.254.103                   # <<< CHANGE: DNS server 1
    - 10.132.254.102                   # <<< CHANGE: DNS server 2

routes:
  config:
  - destination: 0.0.0.0/0
    next-hop-address: 10.132.254.10    # <<< CHANGE: Gateway
    next-hop-interface: br-ex